@using Microsoft.AspNetCore.Components.Routing
@namespace RepositoryFramework.Web.Components
@typeparam TApp

<Router AppAssembly="@typeof(TApp).Assembly" AdditionalAssemblies="new[] { typeof(RepositoryRouter<>).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(RepositoryMainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(RepositoryMainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>