@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@using Blazorise
@using System.Collections;
@using System.Text.Json;
@using Blazorise.DataGrid
@typeparam T
@typeparam TKey where TKey: notnull
@inherits RepositoryBase<T, TKey>

@if (AppSettings.Palette != AppPalette.Normal)
{
    <style>
        hr.divider.divider-text::before {
            color: @_backgroundColor;
            font-size: 1.6em;
        }
    </style>
}
<style>
    select {
        width: 150px;
    }

    .select-checkbox option::before {
        content: "\2610";
        width: 1.3em;
        text-align: center;
        display: inline-block;
    }

    .select-checkbox option:checked::before {
        content: "\2611";
    }

    .select-checkbox-fa option::before {
        font-family: FontAwesome;
        content: "\f096";
        width: 1.3em;
        display: inline-block;
        margin-left: 2px;
    }

    .select-checkbox-fa option:checked::before {
        content: "\f046";
    }
</style>

@if (_entity != null)
{
    <Row>
        <Column>
            <Divider DividerType="DividerType.TextContent" Text="@Constant.Key" />
            @if (!typeof(TKey).IsPrimitive())
            {
                <InternalEdit Entity="_key" DisableEdit="!_isNew"></InternalEdit>
            }
            else
            {
                <InternalPrimitiveEdit Name="@Constant.Key" Value="@_key" T="TKey" Update="x => _key = (TKey)x" DisableEdit="!_isNew"></InternalPrimitiveEdit>
            }
            @if (!_isNew)
            {
                <Button Color="Color.Primary" Clicked="() => _isNew = true">
                    <Icon Name="IconName.Unlock" />
                </Button>
            }
            <Divider DividerType="DividerType.TextContent" Text="@typeof(T).Name" />
            <InternalEdit Entity="_entity" DisableEdit="DisableEdit" PropertiesRetrieved="_propertiesRetrieved"></InternalEdit>
            @if (!DisableEdit)
            {
                <Button Color="Color.Primary" Clicked="@(() => SaveAsync(false))">
                    @if (_isNew)
                    {
                        @:Save
                    }
                    else
                    {
                        @:Update
                    }
                </Button>
                <Button Color="Color.Primary" Clicked="@(() => SaveAsync(true))">
                    @if (_isNew)
                    {
                        @:Save and go
                    }
                    else
                    {
                        @:Update and go
                    }
                </Button>
            }
            @if (AllowDelete)
            {
                <Button Color="Color.Primary" Clicked="@(() => CheckIfYouWantToDelete())">
                    Delete and go
                </Button>
            }
        </Column>
    </Row>
    <Message Feedback="_feedback"></Message>
}