@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@typeparam T
@typeparam TKey where TKey: notnull
@inherits RepositoryBase<T, TKey>

@if (_entity != null)
{
    <div class="row">
        <div class="col">
            <CascadingValue Name="@Constant.EditParametersBearer" Value="@_parametersBearer">
                <RadzenFieldset Text="@Constant.Key">
                    @if (!typeof(TKey).IsPrimitive())
                    {
                        <InternalEdit BaseProperty="@_parametersBearer.BaseTypeShowcase.Properties.First()" ForceNotEditable="@(!_isNew)" />
                    }
                    else
                    {
                        <InternalPrimitiveEdit BaseProperty="@_parametersBearer.BaseTypeShowcase.Properties.First()" ForceNotEditable="@(!_isNew)" />
                    }
                    @if (!_isRequestedToCreateNew)
                    {
                        <RadzenSwitch Value="@_isNew" ValueChanged="@ChangeKeyEditingStatus" />
                    }
                    @if (_isNew && !_isRequestedToCreateNew)
                    {
                        <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Warning" Size="AlertSize.Medium" Shade="Shade.Darker" AllowClose=false>
                            Warning!! Active it only if you want to copy an item.
                            If you active the key editing, and you change it, on save you will create a copy of this element with your new key.
                        </RadzenAlert>
                    }
                </RadzenFieldset>
                @foreach (var property in _parametersBearer.BaseTypeShowcase.Properties.Skip(1).Take(1))
                {
                    <RadzenFieldset Text="@typeof(T).Name">
                        <DefaultButton BaseProperty="@property" Class="text-center mb-2 w-100" />
                        <InternalEdit BaseProperty="@property" />
                    </RadzenFieldset>
                }
                @if (!DisableEdit || AllowDelete)
                {
                    <RadzenFieldset Text="@Constant.Edit">
                        @if (!DisableEdit)
                        {
                            <RadzenButton Click=@(args => SaveAsync(false)) Icon="assignment_turned_in" ButtonStyle="ButtonStyle.Secondary" />
                            <RadzenButton Click=@(args => SaveAsync(true)) Icon="note_add" ButtonStyle="ButtonStyle.Primary" />
                        }
                        @if (AllowDelete)
                        {
                            <RadzenButton class="float-end" Click=@(args => CheckIfYouWantToDeleteAsync()) Icon="delete" ButtonStyle="ButtonStyle.Danger" />
                        }
                    </RadzenFieldset>
                }
            </CascadingValue>
        </div>
    </div>
}