@namespace RepositoryFramework.Web.Components.Standard
@using Radzen.Blazor
@using Radzen;

@if (_entities != null)
{
    var counter = 0;
    @if (!_propertyUiSettings.HasValues())
    {
        foreach (var entity in _entities)
        {
            var index = counter;
            <div class="row">
                <div class="col">
                    @if (BaseProperty.Type != PropertyType.Primitive)
                    {
                        <InternalEdit BaseProperty="@BaseProperty" Index="@index" />
                    }
                    else
                    {
                        <InternalPrimitiveEdit BaseProperty="@BaseProperty" OverriddenName="@($"{index}. ")" Index="@index" />
                    }
                </div>
                @{
                    counter++;
                }
            </div>
        }
    }
    else
    {
        <InternalPrimitiveEdit BaseProperty="@BaseProperty" />
    }
    @if (EditParametersBearer.CanEdit(BaseProperty) && !_propertyUiSettings.HasValues())
    {
        <RadzenButton Click="x => New()" Icon="add" />
    }
}
<ErrorCatcher Error="@_error" />