@namespace RepositoryFramework.Web.Components.Standard
@using System.Reflection;
@using Blazorise
@using System.Collections;
@using System.Text.Json;
@using Blazorise.DataGrid
@typeparam T

@if (Entity != null)
{
    <div style="padding-top:15px;">
        <Row>
            <Column>
                @for (int i = 0; i < TypeShowcase.Primitives.Count; i += 2)
                {
                    var value = TypeShowcase.Primitives[i];
                    var nextValue = i + 1 < TypeShowcase.Primitives.Count ? TypeShowcase.Primitives[i + 1] : null;
                    <Fields>
                        @LoadPrimitiveEdit(value)
                        @if (nextValue != null)
                        {
                            @LoadPrimitiveEdit(nextValue)
                        }
                    </Fields>
                }
                @foreach(var value in TypeShowcase.NonPrimitives)
                {
                    <Divider DividerType="DividerType.TextContent" Text="@value.Self.Name" Style="@_fontSizeForDivider" />
                    @LoadNext(value)
                }
            </Column>
        </Row>
    </div>
}