@namespace RepositoryFramework.Web.Components.Standard

<div class="@_containerClass">
    @foreach (var baseProperty in BaseProperty.Primitives)
    {
        <InternalPrimitiveEdit BaseProperty="@baseProperty" />
    }
</div>
@if (BaseProperty.NonPrimitives.Count > 0)
{
    <div class="row row-cols">
        <RadzenTabs SelectedIndex="0">
            <Tabs>
                @foreach (var baseProperty in BaseProperty.NonPrimitives)
                {
                    <RadzenTabsItem Text="@baseProperty.Self.Name">
                        @if (baseProperty.Type == PropertyType.Enumerable)
                        {
                            <DefaultButton 
                               BaseProperty="@baseProperty"
                               Class="text-center mt-4 mb-2" />
                        }
                        <div class="col-12">
                            @if (baseProperty.Type == PropertyType.Complex)
                            {
                                <InternalEdit BaseProperty="@baseProperty" />
                            }
                            else
                            {
                                <EnumerableInternalEdit BaseProperty="@baseProperty" />
                            }
                        </div>
                    </RadzenTabsItem>
                }
            </Tabs>
        </RadzenTabs>
    </div>
}