@namespace RepositoryFramework.Web.Components
@using Microsoft.AspNetCore.Http;
@using RepositoryFramework.Web.Components.Services;

@if (_contextAppMenu != null)
{
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../../../">
                @if (AppSettings.Image != null)
                {
                    <img src="@AppSettings.Image" alt="logo" width="40" class="d-inline-block align-text-top" />
                }
                @if (AppSettings.Icon != null)
                {
                    <span class="material-symbols-outlined align-center">
                        @AppSettings.Icon
                    </span>
                }
                @AppSettings.Name
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @foreach (var nav in _contextAppMenu)
                    {
                        <li class="nav-item dropdown">
                            <a class="@nav.CssForSelected" href="@nav.Uri"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined align-center">
                                    @nav.Icon
                                </span>
                                <span>@nav.Name</span>
                            </a>
                            @if (nav.Items?.Count > 0)
                            {
                                <ul class="dropdown-menu">
                                    @foreach (var item in nav.Items)
                                    {
                                        <li>
                                            <a class="@item.CssForSelectedForSub" href="@item.Uri">
                                                @if (item.Icon != null)
                                                {
                                                    <span class="material-symbols-outlined align-center">
                                                        @item.Icon
                                                    </span>
                                                }
                                                <span>@item.Name</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
}